LABEL=cloudimg-rootfs   /        ext4   discard,errors=remount-ro       0 1
LABEL=UEFI /boot/efi vfat umask=0077 0 1
{{ hostvars['proxy'].ansible_host }}:{{ nfs_share }}  {{ local_mount }} nfs defaults 0 0